@page "/"

@inject NavigationManager UriHelper

<h1>TAL</h1>

Welcome to TAL Life  Premium Calculator.

<br />
<br />
<button class="btn btn-primary" @onclick='@(() => Start("calculatepremium"))'>
    Go to Calculation
</button>
@code {

    private void Start(string target)
    {
        UriHelper.NavigateTo($"/{target}", true);
    }
}
